:root{

  background-color: #edeef0 !important;
}

main.content h2{

  margin-top: 6vh !important;

}
main.content h3{

  margin-top: 4vh !important;

}


main img{

  padding: 2vmax;
}

.quarto-sidebar-footer img{

  width: 100px !important;
}

.quarto-sidebar-footer p{

  text-align: center;

}